@import './variables.scss';
@import './mixins.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primaryTextColor;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

@import './blocks/Branches.scss';
@import './blocks/BranchSelector.scss';
@import './blocks/Commit.scss';
@import './blocks/Committer.scss';
@import './blocks/File.scss';
@import './blocks/FileDetails.scss';
@import './blocks/FileIcon.scss';
@import './blocks/FileHistory.scss';
@import './blocks/FileDiff.scss';
@import './blocks/FileHistoryRecord.scss';
@import './blocks/Footer.scss';
@import './blocks/Layout.scss';
@import './blocks/Header.scss';
@import './blocks/Link.scss';
@import './blocks/Navigation.scss';
@import './blocks/Readme.scss';
@import './blocks/Repository.scss';
@import './blocks/RepositoryFiles.scss';
@import './blocks/RepositorySelector.scss';
@import './blocks/Table.scss';
@import './blocks/Tabs.scss';
@import './blocks/Token.scss';
