@import './variables.scss';
@import './mixins.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primaryTextColor;
  font-family: sans-serif;
}

@import './blocks/Committer.scss';
@import './blocks/FileIcon.scss';
@import './blocks/Footer.scss';
@import './blocks/Layout.scss';
@import './blocks/Header.scss';
@import './blocks/Link.scss';
@import './blocks/Navigation.scss';
@import './blocks/Repository.scss';
@import './blocks/Table.scss';
@import './blocks/Tabs.scss';
