$grayColor100: #f0f2f3;
$grayColor200: #e5e5e5;
$grayColor400: #b8bec3;
$grayColor500: #7f8285;
$grayColor600: #4f4f4f;

$blueColor: #1774e9;

$redColor: #ff3029;

$lightSeparatorColor: $grayColor100;
$mediumSeparatorColor: $grayColor200;

$linkColor: $blueColor;

$primaryTextColor: #000;
$secondaryTextColor: $grayColor500;
$ghostTextColor: $grayColor400;
$inverseTextColor: #fff;

$activeTabColor: $redColor;

$backgroundColor: #fff;
$darkBackgroundColor: $grayColor600;

$boxShadowColor: rgba(53, 73, 93, 0.2);
