.Table.Branches
  .Table-row.Table-row_head.Branches-item
    .Table-cell Name
    .Table-cell Commit hash

  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | trunk
    .Table-cell: a.Link(href='#') 6748ds893432438dsd823329d923482d


  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-2
    .Table-cell: a.Link(href='#') 7748ds893432438dsd823329d923482d

  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-3
    .Table-cell: a.Link(href='#') 8748ds893432438dsd823329d923482d

  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-5
    .Table-cell: a.Link(href='#') 9748ds893432438dsd823329d923482d

  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-6
    .Table-cell: a.Link(href='#') 1748ds893432438dsd823329d923482d

  .Table-row.Branches-item
    .Table-cell
      .Branches-icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-7
    .Table-cell: a.Link(href='#') 2748ds893432438dsd823329d923482d

