.Table.Branches
  .Table__row.Table__row_head.Branches__item
    .Table__cell Name
    .Table__cell Commit hash

  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | trunk
    .Table__cell: a.Link(href='#') 6748ds893432438dsd823329d923482d


  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-2
    .Table__cell: a.Link(href='#') 7748ds893432438dsd823329d923482d

  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-3
    .Table__cell: a.Link(href='#') 8748ds893432438dsd823329d923482d

  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-5
    .Table__cell: a.Link(href='#') 9748ds893432438dsd823329d923482d

  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-6
    .Table__cell: a.Link(href='#') 1748ds893432438dsd823329d923482d

  .Table__row.Branches__item
    .Table__cell
      .Branches__icon: .FileIcon.FileIcon_branch
      | users/a-aidyn00/my-feature-7
    .Table__cell: a.Link(href='#') 2748ds893432438dsd823329d923482d

