//- *TODO: add dropdown block | Created at: 19.Sep.2019
.BranchSelector
  .BranchSelector-title trunk
  .BranchSelector-dropdown
    .BranchSelector-branch.BranchSelector-branch_current
      .BranchSelector-branchTitle Trunk
      .BranchSelector-commit Last commit 4 s ago

    .BranchSelector-separator
    .BranchSelector-branches
      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago

      .BranchSelector-branch
        .BranchSelector-branchTitle users/rudksoy/DEVTOOLS-43865
        .BranchSelector-commit Last commit 1 min ago
