-
  let stub = {
    title: 'Support new distbuild protocol',
    message: 'Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.',
    hash: 's324e8',
    committer: 'woodcutter',
    time: ', 4s ago'
  }

.FileHistory
  .FileHistory__day
    .FileHistory__date Today
    .FileHistory__record
      +fileHistoryRecord(stub)
      +fileHistoryRecord(stub)
      +fileHistoryRecord(stub)
  .FileHistory__day
    .FileHistory__date Yesterday
    .FileHistory__record
      +fileHistoryRecord(stub)
      +fileHistoryRecord(stub)
      +fileHistoryRecord(stub)
