.Footer
  .Footer__left
    .Footer__secret Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021

  .Footer__right
    .Footer__version  UI: 0.1.15

    .Footer__copyright
      | © 2007—2019
      = ' '
      a.Link Yandex
