.Footer
  .Footer-left
    .Footer-secret Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021

  .Footer-right
    .Footer-version  UI: 0.1.15

    .Footer-copyright
      | © 2007—2019
      = ' '
      a.Link Yandex
