.Repository.Commit
  .Repository-header.Commit-header
    .Repository-title DEVTOOLS-4599: Add option to add extra whitespace between projects

    .Commit-showFiles Show files at r4318347

    .Repository-lastCommit.Commit-author
      a.Link(href='#') s324e8
      = ' '
      | by
      = ' '
      span.Committer woodcutter
      = ' '
      | , 4s ago
      = ' '

  .Repository-content.Commit-content
    include ../blocks/FileDiff




