.RepositorySelector
  .RepositorySelector__title
    span.RepositorySelector__label Repository
    = ' '
    span.RepositorySelector__current Arc

  .RepositorySelector__dropdown
    .RepositorySelector__repos
      a.RepositorySelector__repo(href='#') Arc
      a.RepositorySelector__repo(href='#') My repository
      a.RepositorySelector__repo(href='#') Devtools-team repository
