.Repository
  .Repository__header
    .Repository__branch
      .Repository__title arcadia

      .Repository__branchSelector
        include ../blocks/BranchSelector

    .Repository__lastCommit
      | Last commit
      = ' '
      a.Link(href='#') c4d248
      = ' '
      | on
      = ' '
      a.Link(href='#') 20 Oct 2017, 12:24
      = ' '
      | by
      = ' '
      span.Committer robot-srch-releaser

    .Repository__tabs
      +tabs([{ title: 'Files', href: '#', isActive: true }, { title: 'Branches', href: '#' }])

    .Repository__files
      include ../blocks/RepositoryFiles

    .Repository__readme
      include ../blocks/Readme

