include ../_variables
include ../_mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="../../styles/index.scss")
    link(href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet")

    title
      block title
  body.Layout
    .Layout-header
      .Header
        .Layout-container.Header-container
          .Header-logo
            a.Header-link(href='#')
              img(src='../../images/logo.svg')

          .Header-repo
            .RepositorySelector.RepositorySelector_isActive
              .RepositorySelector-title
                span.RepositorySelector-label Repository
                = ' '
                span.RepositorySelector-current Arc

              .RepositorySelector-dropdown
                .RepositorySelector-substrate
                  .RepositorySelector-hideControl
                  .RepositorySelector-repos
                    a.RepositorySelector-repo(href='#') Arc
                    a.RepositorySelector-repo(href='#') My repository
                    a.RepositorySelector-repo(href='#') Devtools-team repository



    .Layout-content
      .Layout-container
        +navigation(['arcadia'])

        include ../blocks/Repository_index

    .Layout-footer
      include ../blocks/Footer
