.Readme.File
  .Readme-header.File-header
    .File-icon.FileIcon.FileIcon_markup
    .File-title README.md

  .Readme-content.File-content
    .Readme-h1 Плагины и конфиги комбайна
    .Readme-p
      | Плагины - статически собираются в образ, любая модификация требует пересборки образа и
      | перевыкатки сервиса. Перед перевыкаткой нужно не забыть поменять layers на новый,
      | версию предыдущего layer можно посмотреть в сервисе.
      | https://nanny.yandex-team.ru/ui/#/services/dashboards/catalog/combaine/

    .Readme-p
      | Конфиги - деплоятся динамически через deploy-configs.py, который запускается по
      | крону на всех комбайнах. Скрипт generator.py и deploy-configs.py
      | деплоятся динамически вместе с конфигами. Каталог configs
      | poll-ится на измененние svn ревизии раз в минуту, поэтому
      | задержка деплоя конфигов в комбайн должна быть не
      | больше минуты с момента мерджа в транк.
