.Commit {
  &-header {
    display: flex;
    flex-wrap: wrap;
  }

  &-showFiles {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 7px 12px 6px;
    font-size: 13px;
    line-height: 15px;
    background-color: #e6e6e6;
    border-radius: 4px;

    &:before {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 6px;
      background-image: url('../images/burger.svg');
      background-repeat: no-repeat;
      background-size: center;
      content: '';
    }
  }

  &-author {
    flex-basis: 100%;
    margin-top: 5px;
  }
}
