.Header {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  height: 56px;
  border-bottom: 1px solid $lightSeparatorColor;

  &__container {
    display: flex;
    align-items: stretch;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: $primaryTextColor;
    background-repeat: no-repeat;
  }

  &__repo {
    display: flex;
    align-items: stretch;
  }
}
