.Readme {
  &__content {
    max-width: 1128px;
    padding: 24px 32px;
  }

  &__h1 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__p {
    font-size: 14px;
    line-height: 18px;

    & + & {
      margin-top: 20px;
    }
  }
}
