.Repository {
  &-header {
    padding-top: 12px;
  }

  &-title {
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &-branch {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &-branchSelector {
    margin-left: 4px;
  }

  &-lastCommit {
    color: $primaryTextColor;
    font-size: 14px;
    line-height: 20px;
  }

  &-tabs {
    margin-top: 18px;
    margin-bottom: 16px;
    border-bottom: 1px solid $mediumSeparatorColor;
  }

  &-readme {
    margin-top: 16px;
  }

  &-content {
    margin-top: 24px;
  }
}

@include l-screen {
  .Repository {
    &-header {
      align-items: flex-start;
    }

    &-title {
      max-width: 780px;
      font-size: 22px;
    }
  }
}
