.Repository {
  &__header {
    padding-top: 12px;
  }

  &__title {
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__branch {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__branchSelector {
    margin-left: 4px;
  }

  &__lastCommit {
    color: $primaryTextColor;
    font-size: 14px;
    line-height: 20px;
  }

  &__tabs {
    margin-top: 18px;
    border-bottom: 1px solid $mediumSeparatorColor;
  }

  &__files {
    .Table__cell {
      &:nth-child(1) {
        flex-basis: 242px;
      }

      &:nth-child(2) {
        flex-basis: 258px;
      }

      &:nth-child(3) {
        flex-basis: 476px;
      }
    }
  }
}
