.RepositoryFiles {
  &-icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .Table-cell {
    &:nth-child(1) {
      flex-basis: 242px;
    }

    &:nth-child(2) {
      flex-basis: 258px;
    }

    &:nth-child(3) {
      flex-basis: 476px;
    }
  }
}

@include l-screen {
  .RepositoryFiles {
    .Table-cell {
      &:nth-child(1) {
        flex-basis: 150px;
      }

      &:nth-child(2) {
        flex-basis: 150px;
      }

      &:nth-child(3) {
        flex-basis: 450px;
      }
    }
  }
}

@include m-screen {
  .RepositoryFiles {
    .Table-cell {
      &:nth-child(4) {
        flex: 0 0 100px;
      }

      &:nth-child(5) {
        flex: 0 0 90px;
      }
    }
  }
}
