.Table {
  &-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid $mediumSeparatorColor;

    &_head {
      padding-top: 0;
      padding-bottom: 8px;
      color: $ghostTextColor;
    }
  }

  &-cell {
    word-break: break-all;

    &:last-child {
      margin-left: auto;
      text-align: right;
    }
  }
}
